@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
   
    background-image: linear-gradient( 270.3deg,  rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 100% );
}

header{
    width: 100%;
    height: 20%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    width: 45%;
    height: 55%;
   
    border-radius: 30px;
    background-color: #F4D03F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container{   
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container p{
    font-size: 2.5rem;
}

.button-random-container{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-random{    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #F4D03F;
    border-radius: 4px;
    padding: 8px 18px;
    font-size: 2rem;
    border-bottom: 4px solid #dbb107;
    font-weight: 700;
    color: black;
    line-height: 26px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}
.button-random:hover{
    transform: translateY(-2px);
}
 
.input-answer{    
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 36px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

.input-answer:focus{
    border: 2px solid #000;
    border-radius: 4px;
}
    
.container-answers{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    column-gap: 2%;
    justify-content: center;
    height: 20%;
}

.text-container-answers{
  
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 2%;
    justify-content: center;
    height: 20%;
}

.container-traduction{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.text-random-result{
    font-size: 2.5rem;
}

.text-answer label{
    font-size: 2.0rem;
}

#verifyVerb{
    margin-top: 50px;
    background-color: #2ECC71;
    border-bottom: 4px solid #21bd62 !important; 
}

.select-style {    
    appearance: none;   
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
   
    font-family: inherit;
    font-size: 2.5rem;
    cursor: inherit;
    line-height: inherit;
  }

.error{
    margin: 0;
    border: 3px solid red;
}

.success{
    border: 3px solid #21bd62;
}

.legend{
    font-size: 1.7rem;
}

footer{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
